# =========================
# Terraform
# =========================
.terraform/
*.tfstate
*.tfstate.*
crash.log

# Terraform lock file
.terraform.lock.hcl

# Terraform plan files
*.tfplan

# Variables (may contain secrets)
terraform.tfvars
*.auto.tfvars

# =========================
# Sensitive Files
# =========================
*.pem
*.key
devops-key
devops-key.pub

# AWS / Credentials
*.csv
credentials
*.env

# =========================
# .NET / ASP.NET
# =========================
bin/
obj/
.vs/
*.user
*.suo

# Rider / VS Code
.idea/
.vscode/

# =========================
# Node.js
# =========================
node_modules/

# =========================
# Python
# =========================
__pycache__/
*.pyc

# =========================
# Java
# =========================
target/
*.class

# =========================
# Docker
# =========================
*.log

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db